language: ruby
rvm:
  - 1.9.3
env:
  - DB=sqlite
  - DB=postgresql
script:
  - bundle
  - RAILS_ENV=test bundle exec rake --trace db:migrate spec cucumber
before_script:
  - cp Gemfile.travis Gemfile
  - cp config/database.travis.yml config/database.yml
  - mysql -e 'create database myapp_test'
  - psql -c 'create database myapp_test' -U postgres
