<h2>Contact Us</h2>
<p>The 5K run is being organized by Prakash Murthy, Anil Wadghule and other passionate runners in the Indian Ruby Community. The motivation for the event is to spread the love of running among the community, and contribute towards making India healthier and fitter.</p>
<p><b>Please share your thoughts in comments below.</b></p><br>
<p>You can also tweet to us at <%= link_to "Prakash", "http://twitter.com/_prakash" %> or <%= link_to "Anil", "http://twitter.com/anildigital" %> and let us know what you think.</p>
<p>Or write to us at <b>prakash dot n dot murthy at gmail dot com</b> or <b>anildigital at gmail dot com</b>.

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'ruby5k'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
