<h3>I am not a runner. I have not run at all.</h3>
<p>Great! Start your running habit now!!</p>
<p>It is quite uncommon for anyone born and raised in India to have the habit of running/working out regularly. Doesn't mean one cannot change to adopt a good habit in one's life. </p>
<p>Start training today for running a distance of 5 kilometers on June 23. Even if you walk at your current fitness level today and take a lot of breaks while doing so, you will still be able to complete the distance in not more than 60 to 90 minutes. Train to bring down the time you need to run/walk the distance of 5 kilometers.</p>
<p>Use the <%= link_to "Couch to 5K plan", "http://www.coolrunning.com/engine/2/2_3/181.shtml" %> to guide you in your preparation. The Couch to 5K plan is a <b>10 week plan</b> to make beginners easily transition from not being a runner to be able to run non-stop for 30 minutes.</p>
<h3>Get Inspired</h3>
<p>Watch this video made by Keynote Speaker <%= link_to "Aaron 'Tenderlove' Patterson", "http://twitter.com/tenderlove" %> in preparation for his 5K debut at the RubyConf 2010 in New Orleans and start training.</p>
<iframe width="560" height="315" src="http://www.youtube.com/embed/KfdIrdD1FbM" frameborder="0" allowfullscreen></iframe>

<p>Also, watch this IgniteRailsConf 2012 talk by <%= link_to "Prakash Murthy", "http://twitter.com/_prakash" %> titled 'You should run a marathon' to keep pushing yourself to do better.</p>
<iframe width="560" height="315" src="http://www.youtube.com/embed/jbEtSBLGhSo" frameborder="0" allowfullscreen></iframe>
<h3>I run regularly. What do I do?</h3>
<p>Great! Terrific that you have made yourself a runner. Encourage your family, friends, and colleagues to join you in this event.</p>
